{{ partial "helper/tree-sections.html" .  }}
{{ $author := .Site.Author.name}}
{{ $post_len := len (where .Site.RegularPages "Type" "in" "posts") }}
{{ $cat_len := len (default slice (.Scratch.Get "sections")) }}
{{ $tag_len := len .Site.Taxonomies.tags }}
{{ $social := .Site.Params.social }}
{{ $avatar := partial "helper/avatar.html" .  }}

<div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
	<img class="image" itemprop="image" alt="{{ $author }}" data-src="{{- $avatar -}}">
	<p class="name" itemprop="name">{{ $author }}</p>
	<div class="description" itemprop="description">
		{{- .Site.Params.description -}}
	</div>
</div>

<nav class="state">
	<div class="item posts">
		<a href="/archives/">
			<span class="count">{{- $post_len -}}</span>
			<span class="name">{{- T "state.posts" -}}</span>
		</a>
	</div>

	<div class="item categories">
		<a href="/categories/">
			<span class="count">{{- $cat_len -}}</span>
			<span class="name">{{- T "state.categories" -}}</span>
		</a>
	</div>

	<div class="item tags">
		<a href="/tags/">
			<span class="count">{{- $tag_len -}}</span>
			<span class="name">{{- T "state.tags" -}}</span>
		</a>
	</div>
</nav>

<div class="social">
	{{ range $elem_key, $elem_val := $social}}
	<a class="item {{$elem_key}}" href="{{$elem_val.link}}">
		<i class="{{$elem_val.icon}}"></i>
	</a>
	{{ end }}
</div>

<ul class="menu">
	{{- partial "sidebar/menu.html" . -}}
</ul>
