<script src="//cdn.jsdelivr.net/combine/npm/pace-js@1.0.2/pace.min.js,npm/pjax@0.2.8/pjax.min.js,npm/whatwg-fetch@3.4.0/dist/fetch.umd.min.js,npm/animejs@3.2.0/lib/anime.min.js,npm/algoliasearch@4/dist/algoliasearch-lite.umd.js,npm/instantsearch.js@4/dist/instantsearch.production.min.js,npm/lozad@1/dist/lozad.min.js,npm/quicklink@2/dist/quicklink.umd.js"></script>

{{- partial "html/local.html" . -}}
{{- partial "html/config.html" . -}}

{{ $dom := resources.Get "js/dom.js" }}
{{ $fireworks := resources.Get "js/fireworks.js" }}
{{ $global := resources.Get "js/global.js" }}
{{ $page := resources.Get "js/page.js" }}
{{ $pjax := resources.Get "js/pjax.js" }}
{{ $player := resources.Get "js/player.js" }}
{{ $sidebar := resources.Get "js/sidebar.js" }}
{{ $utils := resources.Get "js/utils.js" }}

{{ $js := slice $dom $global $fireworks $page $pjax $player $sidebar $utils | resources.Concat "js/main.js" }}
<script src="{{ $js.Permalink }}"></script>
