.i-cloud:before {
  content: "\e659";
}

.i-bilibili:before {
  content: "\e652";
}

.i-volume-off:before,
.player-info .volume.off::before {
  content: "\e61e";
}

.i-volume-on:before,
.player-info .volume.on::before {
  content: "\e62c";
}

.i-circle-play:before,
.player-info .play-pause::before {
  content: "\e647";
}

.i-forward:before,
.player-info .forward::before {
  content: "\e648";
}

.i-backward:before,
.player-info .backward::before {
  content: "\e649";
}

.i-circle-pause:before,
.playing .player-info .play-pause::before {
  content: "\e64a";
}

.i-loop:before,
.player-info .mode.loop::before {
  content: "\e64b";
}

.i-order:before,
.player-info .mode.order::before {
  content: "\e64c";
}

.i-random:before,
.player-info .mode.random::before {
  content: "\e64d";
}

.i-douban:before {
  content: "\e75f";
}

.i-linux:before {
  content: "\f1e8";
}

.i-opera:before {
  content: "\f205";
}

.i-qq:before {
  content: "\f216";
}

.i-safari:before {
  content: "\f229";
}

.i-snapchat-ghost:before {
  content: "\f234";
}

.i-weixin:before {
  content: "\f262";
}

.i-windows:before {
  content: "\f266";
}

.i-stars:before {
  content: "\e8c4";
}

.i-apple:before {
  content: "\e600";
}

.i-blackberry:before {
  content: "\e601";
}

.i-centos:before {
  content: "\e602";
}

.i-fedora:before {
  content: "\e603";
}

.i-redhat:before {
  content: "\e604";
}

.i-ubuntu:before {
  content: "\e605";
}

.i-suse:before {
  content: "\e606";
}

.i-mobile-alt:before {
  content: "\f052";
}

.i-paw:before {
  content: "\f06b";
}

.i-android:before {
  content: "\f161";
}

.i-chrome:before {
  content: "\f178";
}

.i-edge:before {
  content: "\f195";
}

.i-firefox:before {
  content: "\f1a1";
}

.i-internet-explorer:before {
  content: "\f1d4";
}

.i-markdown:before {
  content: "\f1eb";
}

.i-smile:before {
  content: "\f2a5";
}

.i-preview:before {
  content: "\e901";
}

#copyright .license::before,
.i-share:before {
  content: "\e61b";
}

#copyright .link::before,
.i-link-circle:before {
  content: "\e67b";
}

#copyright .author::before,
.i-person:before {
  content: "\e69d";
}

.i-sun:before {
  content: "\e6d1";
}

.i-moon:before {
  content: "\e71e";
}

.i-compress:before {
  content: "\ef82";
}

.i-expand:before {
  content: "\efb4";
}

.i-align-justify:before {
  content: "\ef13";
}

.i-align-left:before {
  content: "\ef14";
}

.i-eye:before {
  content: "\efb8";
}

.i-pen:before {
  content: "\f071";
}

.i-clock:before {
  content: "\ef75";
}

.i-flag:before {
  content: "\e680";
}

.i-at:before {
  content: "\e619";
}

.i-file:before {
  content: "\e68d";
}

.i-clipboard:before {
  content: "\e651";
}

.i-feather:before {
  content: "\efbd";
}

#tool .player .music::before,
.i-music:before {
  content: "\f059";
}

#tool.playing .player .play-pause::before,
.i-pause:before {
  content: "\f06a";
}

.i-comments:before {
  content: "\ef7f";
}

#tool .player .play-pause::before,
.i-play:before,
.player-info ol>li.current::before {
  content: "\f07f";
}

.i-calendar-check:before {
  content: "\ef5b";
}

.i-angle-up:before {
  content: "\ef1b";
}

.i-facebook:before {
  content: "\f19d";
}

.i-instagram:before {
  content: "\f1d3";
}

.i-skype:before {
  content: "\f231";
}

.i-stack-overflow:before {
  content: "\f239";
}

.i-youtube:before {
  content: "\f274";
}

.i-list-alt:before {
  content: "\e6c1";
}

.i-star:before,
.page .body h3 .anchor::before {
  content: "\f0d4";
}

.i-link-alt:before {
  content: "\f037";
}

.i-paper-plane:before {
  content: "\f063";
}

.i-user:before {
  content: "\f2dd";
}

.i-link:before {
  content: "\e8fc";
}

.i-angle-down:before,
details[open] summary::before {
  content: "\ef1a";
}

.i-calendar:before {
  content: "\e812";
}

#sidebar .tab .item.overview::before,
.i-home:before {
  content: "\e8ed";
}

.i-magic:before {
  content: "\f03e";
}

.i-sakura:before,
.page .body h1 .anchor::before {
  content: "\e695";
}

.i-tag:before {
  content: "\e759";
}

.i-angle-left:before {
  content: "\ef19";
}

.i-arrow-circle-right:before,
.md .note.default::before {
  content: "\ef23";
}

.i-check-circle:before,
.md .note.success::before,
.md ul li.task-list-item input[type="checkbox"]:checked+label::before {
  content: "\ef66";
}

.i-exclamation-circle:before,
.md .note.warning::before {
  content: "\efb5";
}

.i-info-circle:before,
.md .note.info::before {
  content: "\f02b";
}

.i-minus-circle:before,
.md .note.danger::before {
  content: "\f050";
}

.i-plus-circle:before,
.md .note.primary::before {
  content: "\f082";
}

.i-file-word:before {
  content: "\f299";
}

.i-check:before,
.md ol>li.quiz.show.true::after,
.md ol>li.quiz>ul.options li.right::after {
  content: "\ef65";
}

.i-times:before,
.md ol>li.quiz.show.false::after,
.md ol>li.quiz>ul.options li.wrong::after {
  content: "\f109";
}

#sidebar .tab .item.contents::before,
.i-list-ol:before {
  content: "\f039";
}

.i-archive:before {
  content: "\ef1c";
}

.i-angle-right:before,
details summary::before {
  content: "\ef1f";
}

.i-arrow-down:before {
  content: "\ef25";
}

.i-arrow-up:before,
.tabs .show-btn::before {
  content: "\ef2a";
}

.i-chart-area:before {
  content: "\ef64";
}

.i-chevron-left:before {
  content: "\ef6e";
}

.i-chevron-right:before {
  content: "\ef6f";
}

.i-coffee:before {
  content: "\ef7a";
}

.i-envelope:before {
  content: "\efae";
}

.i-external-link-alt:before {
  content: "\efb6";
}

.i-heart:before {
  content: "\f013";
}

.i-heartbeat:before,
.page .body h2 .anchor::before {
  content: "\f017";
}

.i-search:before {
  content: "\f0a8";
}

#sidebar .tab .item.related::before,
.i-sitemap:before {
  content: "\f0bd";
}

.i-tags:before {
  content: "\f0f3";
}

.i-th:before {
  content: "\f0fc";
}

.i-thumbtack:before {
  content: "\f107";
}

.i-times-circle:before,
.md ul li.task-list-item input[type="checkbox"]+label::before {
  content: "\f10a";
}

.i-creative-commons:before {
  content: "\f17e";
}

.i-github:before {
  content: "\f1b4";
}

.i-twitter:before {
  content: "\f24d";
}

.i-weibo:before {
  content: "\f261";
}

.i-address-card:before {
  content: "\f278";
}

.i-zhihu:before {
  content: "\e765";
}

.i-cloud-music:before {
  content: "\e76a";
}