$font-family-chinese: -apple-system, 'PingFang SC', 'Microsoft YaHei';

$font-family-base: $font-family-chinese, sans-serif;

$font-family-logo: $font-family-base;

$font-family-title: $font-family-base;

$font-family-headings: $font-family-base;

$font-family-posts: $font-family-base;

$font-family-monospace: consolas Menlo $font-family-chinese;

$iconfont: '1832207_igi8uaupcus';
$font-size-base: 1em;
$font-size-smallest: 0.75em;
$font-size-smaller: 0.8125em;
$font-size-small: 0.875em;
$font-size-medium: 1em;
$font-size-large: 1.125em;
$font-size-larger: 1.25em;
$font-size-largest: 1.5em;

$font-size-headings-step: 0.125em;
$font-size-headings-base: 1.625em;

$line-height-base: 2;
$line-height-code-block: 1.6;

$zindex-0: -1;
$zindex-1: 1;
$zindex-2: 9;
$zindex-3: 99;
$zindex-4: 999;
$zindex-5: 9999;

$sidebar-width: 15;
$sidebar-desktop: $sidebar-width + rem;
$content-offset: 0.75rem;
$content-wrap: calc(100% - 15.75rem);

$content-desktop-padding: 1.25rem;
$content-tablet-padding: 0.625rem;
$content-mobile-padding: 0.5rem;

$content-desktop: calc(100% - 0.625rem);
$content-desktop-large: 72.5rem;
$content-desktop-largest: 73%;

$font-size-title: 2em;
$font-size-subtitle: $font-size-small;
$font-size-logo: 3.5em;
