{{- define "title" -}}
  {{- T "title.all" -}}
  {{- T "title.category" -}}
{{- end -}}

{{- define "header" -}}
  <h1 itemprop="name headline">
	{{- T "title.all" -}}{{- T "title.category" -}}
  </h1>
{{- end -}}


{{- define "main" -}}
  {{ $categories := (index (where .Site.Sections "Title" "Posts") 0).Sections }}
  <div class="collapse wrap">
	{{- range $categories -}}
	  {{- $post_len := len (where .Site.RegularPages "Section" "other") -}}
	  <div>
		<h2 class="item header">{{ .Title }}({{- $post_len -}})</h2>
		{{- if .Sections -}}
		  {{- range .Sections -}}
			<h3 class="item section">{{ .Title }}</h3>
			{{- template "article" . -}}
		  {{- end -}}
		{{- else -}}
		  {{- template "article" . -}}
		{{- end -}}
	  </div>
	{{- end -}}
  </div>
{{- end -}}

{{ define "article"}}
  {{ range .Pages }}
	{{- partial "components/article-list.html" . -}}
  {{ end }}
{{ end }}

{{- define "sidebar" -}}
{{- end -}}
