{{- define "header" -}}
<h1 itemprop="name headline">
	{{- .Title -}}
</h1>
{{- partial "components/postmeta.html" (dict "context" . "full" true) -}}
{{- end -}}

{{- define "main" -}}
<div class="article wrap">
  {{- if eq .Params.breadcrumb false -}}
  {{- else -}}
  {{- partial "components/breadcrumb.html" (dict "p1" . "p2" . "home" true) -}}
  {{- end -}}
	{{- partial "article/post.html" . -}}
</div>
{{- partial "article/nav.html" . -}}
{{- partial "components/comment.html" . -}}
{{- end -}}

{{- define "sidebar" -}}
{{- partial "components/sidebar.html" (dict "context" . "display_toc" true "paginator" nil) -}}
{{- end -}}


