.highlight {
  background: var(--grey-2);
  color: var(--grey-7);
  line-height: 1.6;
  margin: 1.25rem auto;
}
pre,
code,
.code-container {
  font-family: 'Inconsolata', consolas, Menlo, -apple-system, "PingFang SC", "Microsoft YaHei" !important;
  font-size: 1em;
}
:not(td)>pre {
  background: var(--grey-1);
  border: 0.0625rem solid var(--grey-3);
  border-radius: 0.3125rem;
  padding: 1rem;
  margin-bottom: 0.8rem;
  line-break: anywhere;
  white-space: break-spaces;
}
:not(td)>pre code {
  background: transparent;
  color: currentColor;
}
:not(pre)>code {
  color: var(--primary-color);
  border-radius: 0.3rem;
  border: 0.0625rem solid rgba(0,0,0,0.1);
  background-color: var(--grey-0);
  padding: 0.2rem 0.3rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.highlight {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0.3125rem 0.625rem -0.125rem var(--grey-9-a1);
}
.highlight *::-moz-selection {
  background: var(--grey-4);
}
.highlight *::selection {
  background: var(--grey-4);
}
.highlight::before {
  content: " ";
  position: absolute;
  border-radius: 50%;
  background: #fc625d;
  width: 0.75rem;
  height: 0.75rem;
  left: 0.75rem;
  top: 0.8125rem;
  box-shadow: 1.25rem 0 #fdbc40, 2.5rem 0 #35cd4b;
}
.highlight figcaption {
  color: var(--grey-4);
  display: inline-flex;
  font-size: 0.875em;
  font-weight: 700;
  padding: 0 6rem 0 5rem;
  min-height: 2.5rem;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey-3);
  margin-bottom: 0.625rem;
}
.highlight figcaption::before {
  content: attr(data-lang);
  text-transform: Capitalize;
}
.highlight figcaption span,
.highlight figcaption a {
  display: block;
  margin-left: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.highlight figcaption a {
  color: var(--grey-5);
}
.highlight figcaption a:hover {
  color: var(--grey-6);
}
.highlight.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  z-index: 9999;
  margin: 0;
  border-radius: 0rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.highlight.fullscreen .show-btn {
  position: fixed;
}
.highlight.breakline .code-container table {
  line-break: anywhere;
  white-space: break-spaces;
}
.highlight.breakline .code-container table pre {
  white-space: break-spaces;
}
.code-container {
  overflow-x: scroll;
  overflow-y: hidden;
}
.code-container::after {
  content: "";
  display: block;
  height: 0.625rem;
  width: 100%;
}
.code-container table {
  /* white-space: pre; */
  border-spacing: 0;
  width: 100%;
}
.code-container tr {
  background-color: inherit;
}
.code-container .line:hover {
  background-color: var(--grey-3); 
}

.code-container td {
  position: relative;
  padding: unset;
  vertical-align: unset;
  border: unset;
  transition: all 0.2s ease-in-out 0s;
}

.code-container td:first-child {
  background: var(--grey-2);
  text-align: right;
  overflow-x: hid !important;
  overflow-y: hidden;
  left: 0;
  width: 2.5rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  color: var(--color-grey);
  z-index: 1;
}

.code-container .marked td {
  background-color: var(--grey-3);
}
.code-container .marked:hover td:last-child {
  background-color: var(--color-red-a1);
} 
.code-container .show-btn {
  position: absolute;
  cursor: pointer;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.875rem;
  text-align: center;
  color: var(--text-color);
  background-image: linear-gradient(to bottom, var(--grey-2-a0) 0, var(--grey-2) 80%);
  z-index: 1;
}
.code-container .show-btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 1rem;
  background: var(--grey-2);
}
.code-container .show-btn .ic {
  margin-top: 1rem;
}
.code-container .show-btn.open {
  background: none;
  bottom: 0.5rem;
}
.code-container .show-btn.open::after {
  display: none;
}
.code-container .deletion {
  background: var(--color-pink-light);
}
.code-container .addition {
  background: var(--color-cyan-light);
}
.code-container .meta {
  color: var(--color-yellow);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.code-container .comment,
.code-container .punctuation {
  color: var(--grey-5);
}
.code-container .variable,
.code-container .function,
.code-container .attribute,
.code-container .tag,
.code-container .name,
.code-container .regexp,
.code-container .ruby .constant,
.code-container .xml .tag .title,
.code-container .xml .pi,
.code-container .xml .doctype,
.code-container .html .doctype,
.code-container .css .id,
.code-container .css .class,
.code-container .css .pseudo {
  color: var(--color-red);
}
.code-container .number,
.code-container .preprocessor,
.code-container .built_in,
.code-container .builtin-name,
.code-container .literal,
.code-container .params,
.code-container .constant,
.code-container .command {
  color: var(--color-orange);
}
.code-container .ruby .class .title,
.code-container .css .rules .attribute,
.code-container .string,
.code-container .symbol,
.code-container .value,
.code-container .inheritance,
.code-container .header,
.code-container .ruby .symbol,
.code-container .xml .cdata,
.code-container .special,
.code-container .formula {
  color: var(--color-green);
}
.code-container .title,
.code-container .css .hexcolor,
.code-container .namespace {
  color: var(--color-aqua);
}
.code-container .class-name,
.code-container .python .decorator,
.code-container .python .title,
.code-container .ruby .function .title,
.code-container .ruby .title .keyword,
.code-container .perl .sub,
.code-container .javascript .title,
.code-container .coffeescript .title {
  color: var(--color-blue);
}
.code-container .keyword,
.code-container .javascript .function {
  color: var(--color-purple);
}

/* Background */ .bg { color: #f8f8f2;  }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err {  }
/* CodeLine */ .chroma .cl {  }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: #ff79c6 }
/* KeywordConstant */ .chroma .kc { color: #ff79c6 }
/* KeywordDeclaration */ .chroma .kd { color: #8be9fd; font-style: italic }
/* KeywordNamespace */ .chroma .kn { color: #ff79c6 }
/* KeywordPseudo */ .chroma .kp { color: #ff79c6 }
/* KeywordReserved */ .chroma .kr { color: #ff79c6 }
/* KeywordType */ .chroma .kt { color: #8be9fd }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { color: #50fa7b }
/* NameBuiltin */ .chroma .nb { color: #8be9fd; font-style: italic }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { color: #50fa7b }
/* NameConstant */ .chroma .no {  }
/* NameDecorator */ .chroma .nd {  }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne {  }
/* NameFunction */ .chroma .nf { color: #50fa7b }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl { color: #8be9fd; font-style: italic }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: #ff79c6 }
/* NameVariable */ .chroma .nv { color: #8be9fd; font-style: italic }
/* NameVariableClass */ .chroma .vc { color: #8be9fd; font-style: italic }
/* NameVariableGlobal */ .chroma .vg { color: #8be9fd; font-style: italic }
/* NameVariableInstance */ .chroma .vi { color: #8be9fd; font-style: italic }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { color: #f1fa8c }
/* LiteralStringAffix */ .chroma .sa { color: #f1fa8c }
/* LiteralStringBacktick */ .chroma .sb { color: #f1fa8c }
/* LiteralStringChar */ .chroma .sc { color: #f1fa8c }
/* LiteralStringDelimiter */ .chroma .dl { color: #f1fa8c }
/* LiteralStringDoc */ .chroma .sd { color: #f1fa8c }
/* LiteralStringDouble */ .chroma .s2 { color: #f1fa8c }
/* LiteralStringEscape */ .chroma .se { color: #f1fa8c }
/* LiteralStringHeredoc */ .chroma .sh { color: #f1fa8c }
/* LiteralStringInterpol */ .chroma .si { color: #f1fa8c }
/* LiteralStringOther */ .chroma .sx { color: #f1fa8c }
/* LiteralStringRegex */ .chroma .sr { color: #f1fa8c }
/* LiteralStringSingle */ .chroma .s1 { color: #f1fa8c }
/* LiteralStringSymbol */ .chroma .ss { color: #f1fa8c }
/* LiteralNumber */ .chroma .m { color: #bd93f9 }
/* LiteralNumberBin */ .chroma .mb { color: #bd93f9 }
/* LiteralNumberFloat */ .chroma .mf { color: #bd93f9 }
/* LiteralNumberHex */ .chroma .mh { color: #bd93f9 }
/* LiteralNumberInteger */ .chroma .mi { color: #bd93f9 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #bd93f9 }
/* LiteralNumberOct */ .chroma .mo { color: #bd93f9 }
/* Operator */ .chroma .o { color: #ff79c6 }
/* OperatorWord */ .chroma .ow { color: #ff79c6 }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: #6272a4 }
/* CommentHashbang */ .chroma .ch { color: #6272a4 }
/* CommentMultiline */ .chroma .cm { color: #6272a4 }
/* CommentSingle */ .chroma .c1 { color: #6272a4 }
/* CommentSpecial */ .chroma .cs { color: #6272a4 }
/* CommentPreproc */ .chroma .cp { color: #ff79c6 }
/* CommentPreprocFile */ .chroma .cpf { color: #ff79c6 }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: #ff5555 }
/* GenericEmph */ .chroma .ge { text-decoration: underline }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh { font-weight: bold }
/* GenericInserted */ .chroma .gi { color: #50fa7b; font-weight: bold }
/* GenericOutput */ .chroma .go { color: #44475a }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs {  }
/* GenericSubheading */ .chroma .gu { font-weight: bold }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w {  }
