.highlight {
  background: var(--grey-2);
  color: var(--grey-7);
  line-height: 1.6;
  margin: 1.25rem auto;
}
pre,
code,
.code-container {
  font-family: 'Inconsolata', consolas, Menlo, -apple-system, "PingFang SC", "Microsoft YaHei" !important;
  font-size: 1em;
}
:not(td)>pre {
  background: var(--grey-1);
  border: 0.0625rem solid var(--grey-3);
  border-radius: 0.3125rem;
  padding: 1rem;
  line-break: anywhere;
  white-space: break-spaces;
}
:not(td)>pre code {
  background: transparent;
  color: currentColor;
}
:not(pre)>code {
  color: var(--primary-color);
  border-radius: 0.3rem;
  border: 0.0625rem solid rgba(0,0,0,0.1);
  background-color: var(--grey-0);
  padding: 0.2rem 0.3rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.highlight {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0.3125rem 0.625rem -0.125rem var(--grey-9-a1);
}
.highlight *::-moz-selection {
  background: var(--grey-4);
}
.highlight *::selection {
  background: var(--grey-4);
}
.highlight::before {
  content: " ";
  position: absolute;
  border-radius: 50%;
  background: #fc625d;
  width: 0.75rem;
  height: 0.75rem;
  left: 0.75rem;
  top: 0.8125rem;
  box-shadow: 1.25rem 0 #fdbc40, 2.5rem 0 #35cd4b;
}
.highlight figcaption {
  color: var(--grey-4);
  display: inline-flex;
  font-size: 0.875em;
  font-weight: 700;
  padding: 0 6rem 0 5rem;
  min-height: 2.5rem;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey-3);
}
.highlight figcaption::before {
  content: attr(data-lang);
  text-transform: Capitalize;
}
.highlight figcaption span,
.highlight figcaption a {
  display: block;
  margin-left: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.highlight figcaption a {
  color: var(--grey-5);
}
.highlight figcaption a:hover {
  color: var(--grey-6);
}
.highlight.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  z-index: 9999;
  margin: 0;
  border-radius: 0rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.highlight.fullscreen .show-btn {
  position: fixed;
}
.highlight.breakline .code-container table {
  line-break: anywhere;
  white-space: break-spaces;
}
.highlight.breakline .code-container table pre {
  white-space: break-spaces;
}
.code-container {
  overflow-x: scroll;
  overflow-y: hidden;
}
.code-container::after {
  content: "";
  display: block;
  height: 0.625rem;
  width: 100%;
}
.code-container table {
  /* white-space: pre; */
  border-spacing: 0;
  width: 100%;
}
.code-container tr {
  background-color: inherit;
}
.code-container .line:hover {
  background-color: var(--grey-3); 
}

.code-container td {
  position: relative;
  padding: unset;
  vertical-align: unset;
  border: unset;
  transition: all 0.2s ease-in-out 0s;
}

.code-container td:first-child {
  background: var(--grey-2);
  text-align: right;
  overflow-x: hid !important;
  overflow-y: hidden;
  left: 0;
  width: 2.5rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  color: var(--color-grey);
  z-index: 1;
}

.code-container .marked td {
  background-color: var(--grey-3);
}
.code-container .marked:hover td:last-child {
  background-color: var(--color-red-a1);
} 
.code-container .show-btn {
  position: absolute;
  cursor: pointer;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.875rem;
  text-align: center;
  color: var(--text-color);
  background-image: linear-gradient(to bottom, var(--grey-2-a0) 0, var(--grey-2) 80%);
  z-index: 1;
}
.code-container .show-btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 1rem;
  background: var(--grey-2);
}
.code-container .show-btn .ic {
  margin-top: 1rem;
}
.code-container .show-btn.open {
  background: none;
  bottom: 0.5rem;
}
.code-container .show-btn.open::after {
  display: none;
}
.code-container .deletion {
  background: var(--color-pink-light);
}
.code-container .addition {
  background: var(--color-cyan-light);
}
.code-container .meta {
  color: var(--color-yellow);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #58626f }
/* LineNumbers */ .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #58626f }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: #76a9f9 }
/* KeywordConstant */ .chroma .kc { color: #e5c07b }
/* KeywordDeclaration */ .chroma .kd { color: #76a9f9 }
/* KeywordNamespace */ .chroma .kn { color: #76a9f9 }
/* KeywordPseudo */ .chroma .kp { color: #76a9f9 }
/* KeywordReserved */ .chroma .kr { color: #76a9f9 }
/* KeywordType */ .chroma .kt { color: #e5c07b }
/* Name */ .chroma .n { color: #aa89ea }
/* NameAttribute */ .chroma .na { color: #cebc3a }
/* NameBuiltin */ .chroma .nb { color: #e5c07b }
/* NameBuiltinPseudo */ .chroma .bp { color: #aa89ea }
/* NameClass */ .chroma .nc { color: #ca72ff }
/* NameConstant */ .chroma .no { color: #aa89ea; font-weight: bold }
/* NameDecorator */ .chroma .nd { color: #e5c07b }
/* NameEntity */ .chroma .ni { color: #bda26f }
/* NameException */ .chroma .ne { color: #fd7474; font-weight: bold }
/* NameFunction */ .chroma .nf { color: #00b1f7 }
/* NameFunctionMagic */ .chroma .fm { color: #aa89ea }
/* NameLabel */ .chroma .nl { color: #f5a40d }
/* NameNamespace */ .chroma .nn { color: #ca72ff }
/* NameOther */ .chroma .nx { color: #aa89ea }
/* NameProperty */ .chroma .py { color: #cebc3a }
/* NameTag */ .chroma .nt { color: #76a9f9 }
/* NameVariable */ .chroma .nv { color: #dcaeea }
/* NameVariableClass */ .chroma .vc { color: #dcaeea }
/* NameVariableGlobal */ .chroma .vg { color: #dcaeea; font-weight: bold }
/* NameVariableInstance */ .chroma .vi { color: #e06c75 }
/* NameVariableMagic */ .chroma .vm { color: #dcaeea }
/* Literal */ .chroma .l { color: #98c379 }
/* LiteralDate */ .chroma .ld { color: #98c379 }
/* LiteralString */ .chroma .s { color: #98c379 }
/* LiteralStringAffix */ .chroma .sa { color: #98c379 }
/* LiteralStringBacktick */ .chroma .sb { color: #98c379 }
/* LiteralStringChar */ .chroma .sc { color: #98c379 }
/* LiteralStringDelimiter */ .chroma .dl { color: #98c379 }
/* LiteralStringDoc */ .chroma .sd { color: #7e97c3 }
/* LiteralStringDouble */ .chroma .s2 { color: #63c381 }
/* LiteralStringEscape */ .chroma .se { color: #d26464; font-weight: bold }
/* LiteralStringHeredoc */ .chroma .sh { color: #98c379 }
/* LiteralStringInterpol */ .chroma .si { color: #98c379 }
/* LiteralStringOther */ .chroma .sx { color: #70b33f }
/* LiteralStringRegex */ .chroma .sr { color: #56b6c2 }
/* LiteralStringSingle */ .chroma .s1 { color: #98c379 }
/* LiteralStringSymbol */ .chroma .ss { color: #56b6c2 }
/* LiteralNumber */ .chroma .m { color: #d19a66 }
/* LiteralNumberBin */ .chroma .mb { color: #d19a66 }
/* LiteralNumberFloat */ .chroma .mf { color: #d19a66 }
/* LiteralNumberHex */ .chroma .mh { color: #d19a66 }
/* LiteralNumberInteger */ .chroma .mi { color: #d19a66 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #d19a66 }
/* LiteralNumberOct */ .chroma .mo { color: #d19a66 }
/* Operator */ .chroma .o { color: #54b1c7 }
/* OperatorWord */ .chroma .ow { color: #b756ff; font-weight: bold }
/* Punctuation */ .chroma .p { color: #abb2bf }
/* Comment */ .chroma .c { color: #8a93a5; font-style: italic }
/* CommentHashbang */ .chroma .ch { color: #8a93a5; font-weight: bold; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #8a93a5; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: #8a93a5; font-style: italic }
/* CommentSpecial */ .chroma .cs { color: #8a93a5; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: #8a93a5; font-style: italic }
/* CommentPreprocFile */ .chroma .cpf { color: #8a93a5; font-style: italic }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd {  }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh { color: #a2cbff; font-weight: bold }
/* GenericInserted */ .chroma .gi { color: #a6e22e }
/* GenericOutput */ .chroma .go { color: #a6e22e }
/* GenericPrompt */ .chroma .gp { color: #a6e22e }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #a2cbff }
/* GenericTraceback */ .chroma .gt { color: #a2cbff }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w {  }
