{{- $title := partial "data/title" . .RelPermalink -}}
{{- $description := partial "data/description" . .RelPermalink -}}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#FFF">

{{- if .Site.Params.keywords -}}
    <meta name="keywords"
          content="{{- range union union .Params.tags .Site.Params.keywords -}}{{ . }},{{- end -}}" />
{{- end -}}
<meta name="description" content="{{- $description -}}" />
<meta itemprop="description" content="{{- $description -}}" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta itemprop="name" content="{{- $title -}}" />
<link href="{{- `index.xml` | absURL -}}" title="{{- $title -}}" type="application/rss+xml" rel="alternate" />
<title>{{- $title -}}</title>
{{- $css := resources.Match "css/*.css" | resources.Concat "app.css" -}}
{{- if .Site.IsServer -}}
    <link rel="stylesheet" href="{{- $css.RelPermalink -}}" />
{{- else -}}
    {{- $styles := $css | fingerprint -}}
    <link rel="stylesheet" href="{{- $css.RelPermalink -}}" integrity="{{- $css.Data.Integrity -}}" />
{{- end -}}

{{- partial "html/head/opengraph/include.html" . -}}

{{- $favicon_icon := resources.Get "images/icon.png" -}}
{{- $favicon_icon = $favicon_icon.Resize "48x48 ico icon" -}}
{{- $favicon_icon = slice $favicon_icon | resources.Concat "favicon.ico" -}}
{{- $favicon_icon = print $favicon_icon.RelPermalink -}}


<link rel="shortcut icon" href="{{- $favicon_icon -}}" type="image/x-icon" />

{{- $manifest := resources.Get "manifest.json" | resources.ExecuteAsTemplate (print ("/" | relLangURL) "manifest.json") . -}}
<link rel="manifest" href="{{- $manifest.RelPermalink -}}" />

{{- $icon := print (resources.Get "images/icon.png").RelPermalink -}}
<link href="{{- $icon -}}" rel="shortcut icon" />
<link href="{{- $icon -}}" rel="Bookmark" />
<link rel="apple-touch-icon" href="{{- $icon -}}" />
<link rel="icon" type="image/ico" sizes="32x32" href="{{- $icon -}}">

{{- partial "html/head/site-schema.html" . -}}

