{{- $public_cdn := cond .Site.IsServer "" .Site.Params.publicCDN -}}

{{- $title := partial "data/title" . .RelPermalink -}}
{{- $description := partial "data/description" . .RelPermalink -}}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#FFF">

{{- if .Site.Params.keywords -}}
    <meta name="keywords"
          content="{{- range union .Params.tags .Site.Params.keywords -}}{{ . }},{{- end -}}" />
{{- end -}}
<meta name="description" content="{{- $description -}}" />
<meta itemprop="description" content="{{- $description -}}" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>{{- $title -}}</title>
{{- $sassTemplate := resources.Get "sass/app.scss" -}}
{{- $styles := $sassTemplate | resources.ToCSS -}}
{{- if .Site.IsServer -}}
    <link rel="stylesheet" href="{{- $styles.RelPermalink -}}" />
{{- else -}}
    {{- $styles := $styles | resources.Minify | fingerprint  -}}
    <link rel="stylesheet" href="{{- print $public_cdn $styles.RelPermalink -}}" integrity="{{- $styles.Data.Integrity -}}" crossorigin="anonymous"/>
{{- end -}}

{{- partial "html/head/opengraph/include.html" . -}}

{{- $manifest := resources.Get "manifest.json" | resources.ExecuteAsTemplate (print ("/" | relURL) "manifest.json") . -}}
<link rel="manifest" href="{{- $manifest.RelPermalink -}}" />

<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
<link rel="icon" type="image/ico" sizes="32x32" href="/images/favicon.ico">

{{- partial "html/head/site-schema.html" . -}}

{{- partial "custom/head" . -}}
