{{- define "main" -}}
<div class="index wrap">
	{{ $paginator := .Paginate (where site.RegularPages "Type" "in" "posts") }}
	{{ .Scratch.Set "paginator" $paginator }}
	{{ $pageIndex := $paginator.PageNumber}}
	{{ if eq $pageIndex 1 }}
	<h2 class="divider">{{T "index.posts"}}</h2>
	{{ end }}
	<div class="segments posts">
		{{- range $paginator.Pages -}}
		{{- partial "components/segment.html" (dict "context" $ "post" .) -}}
		{{- end -}}
	</div>
</div>

{{- partial "components/pagination.html" $paginator -}}
{{- end -}}

{{- define "sidebar" -}}
{{ $paginator := .Scratch.Get "paginator" }}
{{- partial "components/sidebar.html" (dict "context" . "display_toc" false "paginator" $paginator) -}}
{{- end -}}
