{{- define "main" -}}
	{{- $sticky_posts := where site.RegularPages "Params.sticky" true -}}
	{{- $posts := where (where site.RegularPages "Type" "in" "posts") "Params.sticky" "!=" true -}}
	{{- $paginator := .Paginate $posts -}}
	{{- .Scratch.Set "paginator" $paginator -}}
	{{- $pageIndex := $paginator.PageNumber -}}
	<div class="index wrap">
		{{- if eq $pageIndex 1 -}}
			{{- if gt (len $sticky_posts) 0 -}}
				<h2 class="divider">{{- T "index.sticky" -}}</h2>
				<div class="segments sticky">
					{{- range $sticky_posts -}}
						{{- partial "components/segment.html" (dict "context" $ "post" .) -}}
					{{- end -}}
				</div>
			{{- end -}}
			<h2 class="divider">{{T "index.posts"}}</h2>
		{{ end }}
		<div class="segments posts">
			{{- range $paginator.Pages -}}
				{{- partial "components/segment.html" (dict "context" $ "post" .) -}}
			{{- end -}}
		</div>
	</div>

	{{- partial "components/pagination.html" $paginator -}}
{{- end -}}

{{- define "sidebar" -}}
	{{ $paginator := .Scratch.Get "paginator" }}
	{{- partial "components/sidebar.html" (dict "context" . "display_toc" false "paginator" $paginator) -}}
{{- end -}}
