#container {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.inner {
  margin: 0 auto;
  width: 100%;
}

main {
  background: linear-gradient(to top, var(--body-bg-shadow) 0, var(--grey-1) 20%) no-repeat bottom;

  >.inner {
    width: $content-desktop;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    @include desktop-large {
      width: $content-desktop-large;
    }

    @include desktop-largest {
      width: $content-desktop-largest;
    }
  }
}

#main {
  background: linear-gradient(to top, var(--grey-0) 0, var(--grey-1) 20%) no-repeat top;
  box-shadow: 0rem 1.25rem 1rem 0.3125rem var(--body-bg-shadow);

  width: $content-wrap;

  min-height: 37.5rem;

  .cat {
    margin-top: 10rem;
  }

  .wrap {
    position: relative;
    padding: $content-desktop-padding;
  }

  .wrap:nth-child(1) {
    margin-bottom: 1.25rem;
  }


  @include tablet-mobile {
    width: 100%;

    .wrap {
      padding: $content-tablet-padding;
    }
  }



  @include mobile {
    .wrap {
      padding: $content-mobile-padding;
    }
  }
}


@import 'header';
@import 'sidebar';
@import 'footer';

@import 'mobile';