{{- $license_url := .Site.Params.license.url -}}
{{- $license_name := .Site.Params.license.name | upper -}}
{{- $cc_icon := "<i class='ic i-creative-commons'><em>(CC)</em></i>" -}}
<div id="copyright">
  <ul>
	<li class="author">
	  <strong>
		{{- print (T "post.copyright.author") (T "symbol.colon") " " -}}
	  </strong>
	  {{- .Site.Author.name -}}
	</li>
	<li class="link">
	  <strong>{{- print (T "post.copyright.link") (T "symbol.colon") -}}</strong>
	  <a href="{{- .Permalink -}}" title="{{- .Title -}}">{{- print .Permalink -}}</a>
	</li>
	<li class="license">
	  <strong>{{- print (T "post.copyright.license_title") (T "symbol.colon") " " -}}</strong>
	  {{- T "post.copyright.license_content_before" -}}
	  <a href="{{- $license_url -}}" title="(CC){{- $license_name -}}">
		{{- $cc_icon | safeHTML -}}
		{{- $license_name -}}
	  </a>
	  {{- T "post.copyright.license_content_after" -}}
	</li>
  </ul>
</div>
