#copyright {
  background: var(--grey-2);
  padding: 1rem 2rem;
  position: relative;
  font-size: $font-size-smallest;
  border-radius: .625rem;
  color: var(--grey-6);

  li {
    &::before {
      @include font-family-icons;
      color: var(--grey-5);
      margin-right: .3125rem;
      font-size: 1.1rem;
      line-height: .75rem;
      vertical-align: -.0667rem;
    }
  }
}