{{ $data := newScratch }}
{{- if .Site.Params.audio -}}
    {{- range .Site.Params.audio -}}
        {{ $data.Add "audio" (slice (dict "title" .title "list" .list)) }}
    {{- end -}}
{{- end -}}
<script>
	var CONFIG = {
    "hostname": {{- strings.TrimSuffix "/" .Site.BaseURL -}},
    "root": {{- default "/" .Site.Params.root -}},
    "statics": {{- default "/" .Site.Params.statics -}},
    "favicon": {
        "normal": "images/favicon.ico",
        "hidden": "images/failure.ico"
    },
    "darkmode": {{- .Site.Params.darkmode -}},
    "auto_scroll": {{- .Site.Params.auto_scroll -}},
    "js": {
        waline: {{- .Site.Params.vendors.js.waline -}},
        chart: {{- .Site.Params.vendors.js.chart -}},
        copy_tex: {{- .Site.Params.vendors.js.copy_tex -}},
        fancybox: {{- .Site.Params.vendors.js.fancybox -}},
    },
    "css": {
        waline: {{- .Site.Params.vendors.css.waline -}},
        katex: {{- .Site.Params.vendors.css.katex -}},
        mermaid: "css/mermaid.css",
        fancybox: {{- .Site.Params.vendors.css.fancybox -}},
    },
    "loader": {
        "start":{{- .Site.Params.loader.start -}},
        "switch":{{- .Site.Params.loader.switch -}},
    },
    "search":{
        appID: {{- .Site.Params.algolia.appid -}},
        apiKey: {{- .Site.Params.algolia.apikey -}},
        indexName: {{- .Site.Params.algolia.indexname -}},
        hits: {per_page: {{- .Site.Params.algolia.hits -}}},
    },
    {{- if .Site.Params.audio -}}
    "audio": {{- $data.Get "audio" -}},
    {{- end -}}
    "waline": {{- partial "html/script/waline.html" . -}},
    "quicklink": {
        "timeout": 3000,
        "priority": true,
    },
    "fireworks": [
        "rgba(255,182,185,.9)",
        "rgba(250,227,217,.9)",
        "rgba(187,222,214,.9)",
        "rgba(138,198,209,.9)"
    ]
}
</script>
