name: CI

on: [push]

jobs:
    deploy:
        env:
          HUGO_VERSION: ${{ github.sha }}
          TZ: Asia/Shanghai
        runs-on: ubuntu-latest

        steps:
            - name: Git checkout
              uses: actions/checkout@v2
              with:
                fetch-depth: 0

            - name: Set git config core.quotepath false # https://github.com/gohugoio/hugo/issues/9810#issuecomment-1107519804
              run: git config --global core.quotepath false

            - name: Setup hugo
              uses: peaceiris/actions-hugo@v2
              with:
                hugo-version: 'latest'
                extended: true

            - name: Build Hugo
              run: echo "HUGO_VERSION -> $HUGO_VERSION" && hugo --gc -v --minify --cleanDestinationDir  -s ./exampleSite --themesDir "../.." --enableGitInfo


            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              with:
                personal_token: ${{ secrets.GITHUB_TOKEN }}
                publish_dir: ./exampleSite/public
                force_orphan: true
